body {
    line-height: 1.8;
    background-color: antiquewhite;
    margin: 20 30;
    
}
h1 {display: flex;
    justify-content: center;
    
}
ol {
    line-height: 2.1;
}
ul {
    line-height: 1.8;
}
div { display: flex;
    justify-content: center;
    align-items: center;
   
}
h2 h4 {
    margin-left: 10px;
}